{{define "yield"}}
	{{$global := .}}
	<div class="page-header">
		<h1>{{.title}}</h1>
		<small>
			{ <a href='/'>slash home /</a> }
			godzilla is displaying {{ len .items }} posts, shh.. keep it a secret!
		</small>
	</div>
	<blockquote class="pull-right">
		{{if $global.is_admin}}
		<p>
			<a class='btn btn-success btn-mini edit' data-type="posts" href='javascript:;'>create post</a>
			<a class='btn btn-success btn-mini edit' data-type="categories" href='javascript:;'>create category</a>
		</p>
		<hr>
		{{end}}
		<p>
			{{ if not $global.selected}}<strong>{{end}}
			<a href="?">unite-the-clans</a>
			{{ if not $global.selected}}</strong>{{end}}
		</p>
		
		{{range .categories}}
				<p class="categories" data-id="{{.id}}">
					{{ if eq .id $global.selected}}<strong>{{end}}
					<a href="?category={{.id}}">
						{{.name}}
					</a>
					{{ if eq .id $global.selected}}</strong>{{end}}
					{{if $global.is_admin}}
					<a class='btn btn-info btn-mini edit' data-type="categories" data-id="{{.id}}" href='javascript:;'>edit</a>
					<a class='btn btn-warning btn-mini delete' data-type="categories" data-id="{{.id}}" href='javascript:;'>del</a>
					{{end}}
				</p>
		{{end}}
	</blockquote>
	{{range .items}}
		<blockquote class="post" style="width: 400px" data-id="{{.id}}">
			<p>
				<a href='/show/{{.id}}'>{{.title}}</a><br>
				posted @ {{.created_at}} ({{.ago}} seconds ago)
			</p>
			
				{{$x := index $global.link .id}}
				{{with $x}}
					<small>
					{{range $x}}
						<a href='?category={{.cid}}'>{{.category}}</a>
						{{if $global.is_admin}}
							<a class='btn btn-warning btn-mini delete' data-type="post_category" data-id="{{.link_id}}" href='javascript:;'>x</a>
						{{end}}
					{{end}}
					</small>
				{{end}}
			{{ if $global.is_admin}}
			<a class='btn btn-info btn-mini edit' data-type="posts" data-id="{{.id}}" href='javascript:;'>edit</a>
			<a class='btn btn-warning btn-mini delete' data-type="posts" data-id="{{.id}}" href='javascript:;'>del</a>
			{{ end }}
		</blockquote>
	{{end}}
	{{if $global.is_admin}}
	{{ js "form_post" "form_category"}}
	<script>
		function get(method, url, callback, input) {
			var reformat = function(array){
				var obj = {};
				for(i=0; i<array.length; i++){
					var a = array[i];
					var name = a.name;
					var value = a.value;
					obj[name] = value;
				}
				return obj;
			};
			input = (input || {})
			if (input instanceof Array) {
				input = reformat(input)
			}
			$.ajax({
				type: method,
				url: url,
				data: "json=" + JSON.stringify(input),
				success: callback
			});
		}
		$('.edit').click(function(e) {
			t = $(this).data('type')
			id = $(this).data('id')
			s = $(this).parent()
			$.get("/admin/modify/" + t + "/" + (id || "0") ,function(data) {
				data = (data || {})
				data["id"] = id
				data["_type"] = t
				if (t == "posts") {
					s.html(_.template(form_post,{data: data}))
				} else {
					s.html(_.template(form_category,{data: data}))
				}
			})
			return false
		})
		$('.delete').click(function(e) {
			get('DELETE',"/admin/modify/" + $(this).data('type') + "/"  + $(this).data('id'),function(data) {
				window.location.reload();
			})
			return false			
		})
		$('.save').live('click',function(e){
			get('POST',"/admin/modify/" + $(this).data('type') + "/0",function(data) {
				window.location.reload();
			},$(this).parent().serializeArray())
			return false
		})
		$('form').live('submit',function(e) {
			$(this).find('.save').click()
			return false
		})
		$(function() {
			$( ".categories" ).draggable({ revert: true });
			$( ".post" ).droppable({
				drop: function( event, ui ) {
					input = {
								post_id: $(this).data('id'),
								category_id: $(ui.draggable).data('id')
							}
					get('POST',"/admin/modify/post_category/0",function(data) {
						window.location.reload();
					},input)
				}
			});
		});
	</script>
	{{end}}
{{end}}